.theme-navbar{
    background-color: #4b7d9e;
}
.theme-orange-btn{
    background-color: #cc8251;
}
.theme-orange-btn:hover{
    background-color: #3e413e;

}
.theme-green-btn{
    background-color: #28a745;
}
.theme-green-btn:hover{
    background-color: #3e413e;

}
