.theme-navbar{
    background-color: #4b7d9e;
}
.theme-orange-btn{
    background-color: #947865;
}
/* .theme-orange-btn:hover{
    background-color: #e65c00;

} */
.theme-green-btn{
    background-color: #28a745;
}
/* .theme-green-btn:hover{
    background-color: #218838;

} */
